<div class="form-group">
    <div class="col-sm-2">
        <select class="form-control" id="fields" data-ng-model="selectedField" data-ng-options="f for f in fields">
        </select>
    </div>
    <div class="col-sm-2">
        <select class="form-control" id="operators" data-ng-model="selectedOperator" data-ng-options="o for o in operators">
        </select>
    </div>
    <div class="col-sm-2">
        <select class="form-control" id="values" data-ng-model="selectedValue" data-ng-options="o for o in values">
        </select>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
    </div>
</div>