doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src='/javascripts/bootstrap.js')
    
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="#") CDays2013
          .nav-collapse
            ul.nav
              li.active
                a(href="#") Home
              li
                a(href="/drum") Drum Machine
              li
                a(href="#contact") Contact
    block content
    block scripts